[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
rope = "*"

[packages]
requests = "*"
python-telegram-bot = "==12.0.0b1"
pyyaml = "*"
html2text = "*"
beautifulsoup4 = "*"
lxml = "*"
fuzzywuzzy = "*"
click = "*"
python-levenshtein = "*"
pyzomato = "*"
pdfminer-six = "*"
ipython = "*"
flask = "*"
flask-jwt-extended = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
