{% extends "template.html" %}
{% block title %}Menu{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      <!-- Sidebar -->
      <nav id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <h3>PyLunch Restaurants</h3>
            </div>
    
            <ul class="list-unstyled components">
                {% for entity in restaurants %}
                <li>
                    <a class="menu-item" id="{{entity.name}}_item" href="#{{entity.name}}_section">{{entity.display_name}} ({{entity.name}})</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div id="menus" class="container">
            
                {% for entity in menus %}
                <div class="row" id="{{entity.0.name}}_section">
                    <div class="container" style="width: 100%">
                            <div class="row">
                                    <h3 class="restaurant-header" class="col-8" style="width: 60%"><a href="/restaurants/{{entity.0.name}}">{{entity.0.display_name}}</a></h3>
                                    <span class="col-4 float-right"><a href="{{entity.0.url}}">Restaurant's webpage</a></span>
                            </div>
                    </div>
                   
                    <p class="restaurant-tags" style="width: 100%" class="row">
                        {% for tag in entity.0.tags %}
                            <a href="/menu?t={{tag}}">{{tag}}</a>&nbsp;
                        {% endfor %}
                    </p>
                    <div class="restaurant-content" style="width: 100%" class="row">
                        <pre>
                            <code>
                            {{entity.1}}
                            </code>
                        </pre>
                    </div>
                </div>
               {% endfor %}

            </div>
        </div>
{% endblock %}

{% block scripts %}
<script>
        $(document).ready(function () {

            $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
            });
        
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        
        });
</script>
{% endblock %}